@import "tailwindcss";

body {
  @apply bg-gradient-to-br from-white to-[#f3f4f6] text-gray-900;
}

/* Custom vertical scrollbar */
::-webkit-scrollbar {
  width: 6px;
  /* reduced width */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ec4899, #6366f1);
  /* pink → purple gradient */
  border-radius: 9999px;
  /* fully rounded */
}